{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chauffeur.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ chauffeur.age }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ chauffeur.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ chauffeur.password }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chauffeur.adresse }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ chauffeur.cni }}</td>
            </tr>
            <tr>
                <th>NumeroPermis</th>
                <td>{{ chauffeur.numeroPermis }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ chauffeur.username }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chauffeur_index') }}">back to list</a>

    <a href="{{ path('chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>

    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
